* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;    
}

.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
