* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(60, 228, 9);
    height: 10vh;
    width: 100%;
    text-transform: uppercase;  
    justify-content: space-between;
    
}

.logo{
    color: white;
    font-weight: bold;
}
