
    <form action="/addexpense" method="POST">
        <input type="date" name="date" id="date">
        <input type="text" name="expensename" id="expensename">
        <input type="text" name="amount" id="amount">
        <select name="category" id="category">
            <option value="food">Food</option>
            <option value="entertainment">Entertainment</option>
            <option value="business">Business</option>
            <option value="other">Other</option>
        </select>
        <input type="submit" value="Add" id="">
    </form>
